<% content_for :jumbo do %>
  <h1>Hello, world!</h1>
  <p class="lead">Get beautiful business cards shipped right to your door.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started</a></p>
<% end %>
  <h2> Products </h2>
  <% @products.each do | category, products | %>
    <h3><%= category.name %></h3>
    <ul>
      <% products.each do |product| %>
      <li>
        <h4><%= link_to product.name, product_path(product.permalink) %></h4>
        <p><%= product.short_description %></p>
        <p><b>Price:</b> <%= number_to_currency product.price %></p>
      </li>
      <% end %>
    </ul>
  <% end %>
